{% load core i18n userutils %}

<ul class="list-group mb-3">
    {% for form in formset.forms %}
        <li class="list-group-item d-block {% if not form.instance.submission.current_pending_vote %}text-danger{% endif %}">
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% with submission=form.instance.submission %}
                {% with submission.current_pending_vote as vote %}
                    <div class="d-flex justify-content-between">
                        <div>
                            {{ form.accept_prepared_vote }}
                            {{ submission|ec_number }}: {{ submission.project_title_display }}<br>
                        </div>
                        <span class="fa fa-pencil fa-2x text-primary text-edit-btn ml-4" style="cursor: pointer"
                              data-text-id="{{ vote.pk }}"
                              data-title="{{ form.instance.submission.get_ec_number_display }}"
                              data-type="vote">
                            </span>
                    </div>
                    <b>{% trans 'Prepared Vote' %}</b>: {% if vote %}B{{ vote.result }}
                    {% if vote.text %}
                        <hr/>
                        <p class="pre">{{ vote.text }}</p>
                    {% endif %}
                {% else %}<em>{% trans 'No vote!' %}</em>
                {% endif %}
                {% endwith %}
                {% sudo %}
                    {% with submission.paper_submission_review_task as task %}
                        {% if task and not task.closed_at %}
                            <div class="alert alert-danger">
                                <strong>
                                    {{ task.task_type }}
                                </strong>
                                {% if task.assigned_to %}
                                    ({{ task.assigned_to }})
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endsudo %}
            {% endwith %}
        </li>
    {% endfor %}
</ul>
