{% load core i18n %}

<ul class="list-group">
    {% for clinic in clinics %}
        <li class="list-group-item d-block">
            <h4>{{ clinic.name }} ({{ clinic.active_submissions|length }})</h4>
            {% for submission in clinic.active_submissions %}
                <span>
                <a href="{% url 'readonly_submission_form' submission_form_pk=submission.pk %}"
                   target="_blank">{{ submission }}</a>{% if clinic.active_submissions|last != submission %},{% endif %}
                </span>
            {% endfor %}
        </li>
    {% endfor %}
</ul>
