{% load core i18n widget_tweaks %}

<div class="container">
    <div class="d-flex mb-3">
        <form id="ek-member-list" action="{{ request.path }}" method="post" class="w-100 open-in-widget">
            {% csrf_token %}
            {% for field in form %}
                {% include 'bootstrap/form_field.html' with inline=True %}
            {% endfor %}
            <button type="button" class="btn btn-primary">{% trans 'Save' %}</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    (function() {
        var button = $('#ek-member-list button');
        button.on('click', function () {
            $(this).prop('disabled', true);
            $(this).append('<span class="fa fa-spinner fa-spin ml-2"></span>');
            $('#ek-member-list').submit();
        });
    })();
</script>
