.dashboard_widget {
    border-radius: 5px;

    &.half {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .dashboard_widget.half {
        width: 50%;

        &.left {
            padding-right: 0.5rem;
        }

        &.right {
            padding-left: 0.5rem;
        }
    }
}
