{% extends 'core.html' %}
{% load core i18n %}

{% block headertitle %}Unterstützende Dokumente{% endblock %}

{% block content %}

    <div class="container">
        <a href="{% url 'core.supporting_documents.administration' %}">
            Zurück zur Auflistung
        </a>
        <form action="" method="post" enctype="multipart/form-data" class="mt-2">
            {% csrf_token %}
            {% for field in form %}
                {% include "bootstrap/form_field.html" with inline=True %}
            {% endfor %}
            <div class="my-4">
                <input class="btn btn-primary" type="submit" value="
                    {% if updating %} {% trans "Edit" %} {% else %} {% trans "Add" %} {% endif %}
                "/>
            </div>
        </form>
    </div>

{% endblock %}

{% block jsbottom %}
    {{ block.super }}
    <script type="text/javascript">
        $('#{{ form.tasks.id_for_label }}').select2({placeholder: null});
    </script>
{% endblock %}
